.container {
  max-width: 800px;
  height: 1020px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-header h1 {
  margin: 0;
}

.profile-header p {
  margin: 5px 0;
}

.profile-section {
  margin-bottom: 30px;
 
}

.profile-section h3 {
  margin-top: 0;
}

.profile-section ul {
  list-style-type: none;
  padding: 0;
}

.profile-section ul li {
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.upload-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #45a049;
}

.container_info {
  border: black solid 4px;
}

.collapsible.collapsed {
  display: none;
}
.resumo{
 
}
